body {
  background-color:#FF8856;
}

.home_title {
  text-align: center;
  color          : #ffffff;            /* 文字の色 */
  font-size      : 70pt;               /* 文字のサイズ */
  letter-spacing : 15px;                /* 文字間 */
}


.square_btn1 {
  position:absolute; top:110px; left:250px;
  width:200px;
  font-size:40px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:8px 0 10px;
  color:#FFFFFF;
  background-color:#FF3300;
  border-radius:7px;
  box-shadow:2px 2px #555;
  text-shadow:-1px -1px #555;
}

.square_btn2 {
  position:absolute; top:110px; left:550px;
  width:200px;
  font-size:40px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:8px 0 10px;
  color:#FFFFFF;
  background-color:#FF3300;
  border-radius:7px;
  box-shadow:2px 2px #555;
  text-shadow:-1px -1px #555;
}

.square_btn3 {
    position:absolute; top:110px; left:850px;
  width:200px;
  font-size:40px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:8px 0 10px;
  color:#FFFFFF;
  background-color:#FF3300;
  border-radius:7px;
  box-shadow:2px 2px #555;
  text-shadow:-1px -1px #555;
}

.square_btn4 {
      position:absolute; top:300px; left:400px;
  width:200px;
  font-size:40px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:8px 0 10px;
  color:#FFFFFF;
  background-color:#FF3300;
  border-radius:7px;
  box-shadow:2px 2px #555;
  text-shadow:-1px -1px #555;
}

.square_btn5 {
  position:absolute; top:300px; left:700px;
  width:200px;
  font-size:40px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:8px 0 10px;
  color:#FFFFFF;
  background-color:#FF3300;
  border-radius:7px;
  box-shadow:2px 2px #555;
  text-shadow:-1px -1px #555;
}

.home {
  position:absolute; bottom:20px;
  width:200px;
  font-size:25px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:8px 0 10px;
  color:#222222;
  background-color:#FFFF77;
  border-radius:7px;
  box-shadow:2px 2px #555;
  text-shadow:-1px -1px #555;
}

.back {
  position:absolute; bottom:20px;
  width:200px;
  font-size:25px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:8px 0 10px;
  color:#222222;
  background-color:#00CCFF;
  border-radius:7px;
  box-shadow:2px 2px #555;
  text-shadow:-1px -1px #555;
}

.back1 {
  position:absolute; top:2500px;
  width:200px;
  font-size:25px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:8px 0 10px;
  color:#222222;
  background-color:#00CCFF;
  border-radius:7px;
  box-shadow:2px 2px #555;
  text-shadow:-1px -1px #555;
}

.home1 {
    position:absolute; bottom:20px; left:500px;
  width:200px;
  font-size:25px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:8px 0 10px;
  color:#222222;
  background-color:#FFFF77;
  border-radius:7px;
  box-shadow:2px 2px #555;
  text-shadow:-1px -1px #555;
}
table.table th {
  width: 300px;
padding: 20px;
font-size: 200%;
font-weight: bold;
vertical-align: top;
background: #FF3300;
color: #ffffff;
}

table.table tr{
  width: 300px;
padding: 20px;
font-size: 100%;
font-weight: bold;
vertical-align: top;
background: #ffffff;
color: #0000FF;
}

input{
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
font-size: 140%;
padding: 6px;
background:#FFDBC9;

}



.title{
    text-align: center;
  display        : inline-block;
  color          : #ffffff;            /* 文字の色 */
  font-size      : 30pt;               /* 文字のサイズ */
  letter-spacing : 6px;                /* 文字間 */
  text-shadow    :

      padding:20px 320px;
}


.description{
  font-size:30px;
   border: 2px solid #CC0000;
  background-color: #FFFFFF;
  display: inline-block;
  text-align: left;
}
.comment{
  font-size:20px;

}
.a{
  background-color: #FFFFFF;
}
.login{
  display        : inline-block;
  color          : #ffffff;            /* 文字の色 */
  font-size      : 15pt;               /* 文字のサイズ */
  letter-spacing : 6px;                /* 文字間 */
  text-shadow    :
       2px  2px 1px #FF4F02,
      -2px  2px 1px #FF4F02,
       2px -2px 1px #FF4F02,
      -2px -2px 1px #FF4F02,
       2px  0px 1px #FF4F02,
       0px  2px 1px #FF4F02,
      -2px  0px 1px #FF4F02,
       0px -2px 1px #FF4F02;        /* 文字の影 */
      padding:20px 320px;

}

input#eturan {
  display: inline-block;
  position:absolute; bottom:220px; left:350px;
  width: 240px;
  height: 100px;
     padding: 0.5em 1em;
     text-decoration: none;
     border-radius: 3px;
     font-weight: bold;
     color: #FFF;
     background-image: -webkit-linear-gradient(45deg, #FF9933 0%, #FF3300 100%);
     background-image: linear-gradient(45deg, #FF9933 0%, #FF3300 100%);
     transition: .4s;
}

input#keijiban {
    position:absolute; bottom:220px; right:350px;
  width: 240px;
  height: 100px;
  display: inline-block;
   padding: 0.5em 1em;
   text-decoration: none;
   border-radius: 3px;
   font-weight: bold;
   color: #FFF;
   background-image: -webkit-linear-gradient(45deg, #FF82B2 0%, #FF0000 100%);
   background-image: linear-gradient(45deg, #FF82B2 0%, #FF0000 100%);
   transition: .4s;
}

input#back_button {
  margin-left:25px;
  width:200px;
  font-size:25px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:8px 0 10px;
  color:#222222;
  background-color:#00CCFF;
  border-radius:7px;
  box-shadow:2px 2px #555;
  text-shadow:-1px -1px #555;
}

input#back_button1{
  margin-left:25px;
  width:200px;
  font-size:25px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:8px 0 10px;
  color:#222222;
  background-color:#00CCFF;
  border-radius:7px;
  box-shadow:2px 2px #555;
  text-shadow:-1px -1px #555;
}

.moji {
    text-align: center;
  font-size:20px;
  font-weight: bold;
}

.level select {
  width: 25%;
	padding: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #999;
	background: #eee;
	background: url(arrow01.png) right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%,#efebe1 100%);
	background: url(arrow01.png) right 50% no-repeat, linear-gradient(to bottom, #fff 0%,#efebe1 100%);
	background-size: 20px, 100%;
}

.genre select {
  width: 25%;
padding: 10px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border: 1px solid #999;
background: #eee;
background: url(arrow01.png) right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%,#efebe1 100%);
background: url(arrow01.png) right 50% no-repeat, linear-gradient(to bottom, #fff 0%,#efebe1 100%);
background-size: 20px, 100%;
}

input#register {
  margin: 0 auto;
  width:200px;
  font-size:25px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  padding:8px 0 10px;
  color:white;
  background-color:#CC0033;
  border-radius:7px;
}

input#hyouji {
  position:absolute; bottom:-590px;right:90px;
  width:200px;
  font-size:25px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:8px 0 10px;
  color:#222222;
  background-color:#FFFFBB;
  border-radius:7px;
  box-shadow:2px 2px #555;
  text-shadow:-1px -1px #555;
}

.box {
  padding: 0.5em 1em;
margin: 2em 150px;
color: #2c2c2f;
background: #FFCC99;/*背景色*/
}

input#back_button2{
  margin-left:25px;
  width:200px;
  font-size:25px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:8px 0 10px;
  color:#222222;
  background-color:#00CCFF;
  border-radius:7px;
  box-shadow:2px 2px #555;
  text-shadow:-1px -1px #555;
}

input#home_button {
  margin-left:25px;
  width:200px;
  font-size:25px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:8px 0 10px;
  color:#222222;
  background-color:#FFFF99;
  border-radius:7px;
  box-shadow:2px 2px #555;
  text-shadow:-1px -1px #555;
}

.bbd {
  font-size: 20px;
}
.sakujo {
  font-weight:bold;
  padding: 0.5em 1em;
    margin: 2em 200px;
  background: #FFCC99;/*背景色*/
}
input#sakujo_button {
  background-color:#BAD3FF;
}

input#change_button {
  background-color:#FF5F17;
}

input#toukou {
  color:white;
  background-color:#FF0033;
}

img#file1 {
  object-fit: contain;
}
